body, html {
  height: 100%;
}

* {
  font-family: sofia-pro, sans-serif;
}


.App {
  text-align: center;
}

.App-header {
  text-shadow: 5px 3px 6px #00000029;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  position: fixed;
  margin-top: 50px;
  left: 50%;
  transform: translate(-50%);
}

.pb {
  background-image: url(./Images/pb.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 315px;
  width: 315px;
  border-radius: 50%;
  box-shadow: 5px 3px 6px #00000029;
  left: -350px;
  margin-top: -25px;
}

button {
  font-size: 25px;
  font-weight: 700;
  box-shadow: 5px 3px 6px #00000029;
  border-radius: 60px;
  padding: 5px 120px;
  border: 0px;
  left: 50%;
  transform: translate(-50%);
  margin-top: 25px;
}

