.App {
    text-align: center;
    position: relative;
}




.App-header {
    text-shadow: 5px 3px 6px #00000029;
    font-size: 2em;
    position: absolute;
    margin-top: 50px;
    width: 100%;
}
  
.App-header h2 {
    position: relative;
    font-weight: 700;
    font-style: normal;
    font-size: 1.3em;
    top: -1.5em;
}




.btn-explore {
    font-size: 0.7em;
    font-weight: 700;
    box-shadow: 5px 3px 6px #00000029;
    border-radius: 60px;
    padding: 5px 120px;
    border: 0px;
    position: relative;
    top: 30em;
}

.btn-explore a {
    color: black;
}

.mobile-icons {
    display: none;
}



/* ---------- @MEDIA ---------- */
/* MOBILE */
@media screen and (max-width: 750px) {
    .App-header {
        position: absolute;
        width: 100%;
    }
    .App-header h2 {
        position: relative;
        font-size: 1.3em;
        top: 1em;
    }
    .mobile-facebook {
        margin-right: 2em;
    }
    .mobile-linkedin {
        margin-right: 2em;
    }
    .btn-explore {
        color: black;
        font-size: 0.7em;
        top: 16em;
    }
    .mobile-icons {
        position: relative;
        display: inline-flex;
        top: 2.5em;
        margin-left: 0em;
    }
}
