.App {
    text-align: center;
    position: relative;
}


.App-header h1 {
    font-weight: 700;
    font-style: normal;
    font-size: 2.2em; 
    margin-bottom: -10px;
}
  
.App-header h2 {
    position: relative;
    font-weight: 700;
    font-style: normal;
    font-size: 1.3em;
    top: -1.5em;
}


.App-header {
    text-shadow: 5px 3px 6px #00000029;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    position: absolute;
    margin-top: 50px;
    left: 50%;
    transform: translate(-50%);
}
  

.btn-explore {
    font-size: 0.7em;
    font-weight: 700;
    box-shadow: 5px 3px 6px #00000029;
    border-radius: 60px;
    padding: 5px 120px;
    border: 0px;
    position: relative;
    top: 0em;
}

.btn-explore a {
    color: black;
}





/* ---------- @MEDIA ---------- */
/* MOBILE */
@media screen and (min-width: 320px) and (max-width: 640px) {
    .App-header h1 {
      position: absolute;
      font-size: 2em;
      right: 1em;
      top: -1.5em;
      display: none;
    }
    .App-header h2 {
        position: absolute;
        font-size: 1.3em;
        right: 1em;
        top: -1.5em;
      /* display: none; */
    }
    .App-pb {
      position: relative;
      height: 150px;
      width: 150px;
      left: 5%;
      top: -2em;
      border-radius: 50%;
    }
    .App-header {
        top: 70px;
        width: 100%;
    }
    .App-icons {
        position: absolute;
        display: inline-flex;
        top: 8em;
        right: 12em;
    }
    .App-facebook {
        margin-right: 20px;
    }
    .App-linkedin {
        margin-right: 20px;
    }
    .btn-explore {
        color: black;
        margin-top: 9em;
    }
    .App-icons .icon {
        height: 40px;
        width: 40px;
    }
}
