body, html {
    height: 100%;
    width: 100%;
}


html {
    overflow-x: hidden;
}
* {
    font-family: sofia-pro, sans-serif;
    margin: 0;
}
  
#bg {
    background-image: url(./Images/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    /* position: absolute; */
    width: 100vw;
    height: 100vh;
    
}

button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}

.icon {
    height: 33px;
    width: 33px;
    box-shadow: 5px 3px 6px #00000029;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.facebook {
    background-image: url(./Images/facebook.png);
    border-radius: 50%;
}
  
.linkedin {
    background-image: url(./Images/linkedin.jpg);
    border-radius: 0px;
}
  
.github {
    background-image: url(./Images/github.png);
    border-radius: 50%;
}