* {
    margin: 0;
}

.explore {
    color: black;
}

body {
    background-image: url(./Images/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-weight: 700;
    font-style: normal;
    font-size: 2.2em; 
    margin-bottom: -10px;
}
  
h2 {
    font-weight: 700;
    font-style: normal;
    font-size: 1.3em;
}

.icons {
    margin-top: 20px;
    display: inline-flex;
    left: 50%;
    transform: translate(-50%);
}
  
.icon {
    height: 33px;
    width: 33px;
    box-shadow: 5px 3px 6px #00000029;
}
  
.facebook {
    background-image: url(./Images/facebook.png);
    margin-right: 40px;
    border-radius: 50%;
}
  
.linkedin {
    background-image: url(./Images/linkedin.jpg);
    margin-right: 40px;
    border-radius: 0px;
}
  
.github {
    background-image: url(./Images/github.png);
    border-radius: 50%;
}
  
/* ---------- @MEDIA ---------- */
/* MOBILE */
@media screen and (min-width: 320px) and (max-width: 640px) {
    h1 {
      font-size: 2.5em;
      margin-bottom: 0;
      margin-top: -2em;
    }
    h2 {
      font-size: 1.7em;
      margin-bottom: 0px;
      margin-top: -0.5em;
    }
    .pb {
      height: 1px;
      width: 1px;
    }
    .App-header {
        top: 70px;
        width: 100%;
    }
    .icons {
        display: inline-flex;
        margin-top: -3em;
    }
    .facebook {
        margin-right: 60px;
    }
    .linkedin {
        margin-right: 60px;
    }
    button {
        font-size: 1.5em;
        top: 500px;
    }
}
