body {
    margin: 0;
    padding: 0;
}

#background-image {
    width: 100%;
    opacity: 0.8;
    position: absolute;
}

.about-me {
    position: relative;
    padding: 40px;
    background-color: white;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    top: 10%;
    width: 50%;
}

.header h2 {
    font-size: 50px;
    color: rgb(106, 106, 106);
}

h1 {
    font-size: 60px;
    color: rgb(106, 106, 106);
}

#navn {
    color: black;
}