.Explore-header h1 {
  font-weight: 700;
  font-style: normal;
  font-size: 2em;
  margin-bottom: 0;
}

.Explore {
  text-align: center;
}

.Explore-header {
  text-shadow: 5px 3px 6px #00000029;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%);
}

.Explore-pb {
  background-image: url(../Images/pb.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  width: 100px;
  border-radius: 480px;
  box-shadow: 5px 3px 6px #00000029;
  position: absolute;
  top: 0.5em;
  left: -4em;
}

.Explore-icons {
  position: absolute;
  display: inline-flex;
  left: 50%;
  transform: translate(-50%);
}

.Explore-icon {
  height: 33px;
  width: 33px;
  box-shadow: 5px 3px 6px #00000029;
}

.Explore-facebook {
  margin-right: 6em;
}

.Explore-icons p {
  margin-left: 1.5em;
  font-size: 0.8em;
}


.Explore-linkedin {
  margin-right: 6em;
}


.Explore-btns {
  position: absolute;
  display: inline-flex;
  left: 50%;
  transform: translate(-50%);
  top: 10em;
}

.Explore-btn {
  font-size: 25px;
  font-weight: 700;
  box-shadow: 5px 3px 6px #00000029;
  border-radius: 60px;
  padding: 5px 120px;
  border: 0px;
}

.btn-skills {
  margin-right: 80px;
}

.btn-interests {
  margin-right: 0;
}

