.desktop-nav {
    text-align: center;
    position: relative;
  }
  
  
  
  
  .desktop-header {
    text-shadow: 5px 3px 6px #00000029;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    position: relative;
    top: 0px;
    left: 50%;
    transform: translate(-50%);
  }
  
  .desktop-header h1 {
    font-weight: 700;
    font-style: normal;
    font-size: 2em;
    margin-top: 0em;
  }
  
  
  
  
  .desktop-pb {
    background-image: url(../Images/pb.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    height: 75px;
    width: 75px;
    border-radius: 480px;
    box-shadow: 5px 3px 6px #00000029;
    left: 1em;
    top: 0.5em;
  }
  
  
  
  
  .desktop-icons {
    position: absolute;
    display: inline-flex;
    top: 1em;
    left: 5em;
  }
  
  .desktop-icon {
    height: 33px;
    width: 33px;
    box-shadow: 5px 3px 6px #00000029;
  }
  
  .desktop-facebook {
    margin-right: 2em;
  }
  
  .desktop-linkedin {
    margin-right: 2em;
  }
  
  
  
  
  .desktop-menu-icon {
    position: absolute;
    height: 75px;
    width: 75px;
    right: 1em;
    top: 0.5em;
  }
  


 .mobile-nav {
        display: none;
 }

/* ---------- @MEDIA ---------- */
/* MOBILE */
@media screen and (min-width: 320px) and (max-width: 750px) {
    .mobile-nav ul {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        position: fixed;
        width: 100%;
        z-index: 1;
        height: 4em;
        box-shadow: 5px 3px 6px #00000029;
        border: 1px solid black;
    }
    .mobile-nav li {
        font-size: 1.5em;
        font-weight: 600;
        list-style-type: none;
        margin-right: 4em;
    }
    .desktop-nav {
        display: none;
    }
    .mobile-nav {
        display: flex;
    }
    .show-dropdown {
        display: block;
    }
    .hide-dropdown {
        display: none;
    }   
    .menu-icon {
        background-image: url(../Images/menu-50.png);
        height: 50px;
        width: 50px;
        position: absolute;
        right: 3.5em;
    }
    .nav-pb {
        background-image: url(../Images/pb.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: fixed;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        left: 1em;
    }
    #drop-down {
        position: absolute;
        background-color: white;
        top: 4em;
        right: 2.5em;
        padding: 0.5em 1em 0.5em 0em;
        width: 30vw;
        box-shadow: 5px 3px 6px #00000029;
        border: 1px solid black;
    }
    #drop-down li {
        margin-bottom: 0.5em;
        margin-left: 1.5em;
        font-size: 1.25em;
        /* border-bottom: 1px solid black; */
    }
    nav li:hover {
        cursor: pointer;
    }
}